html,
body,
/* html5 */
header,
nav,
main,
section,
article,
aside,
time,
address,
footer,
/* common element */
div,
span,
p,
a,
img,
/* less common element */
sub,
sup,
cite,
pre,
code,
iframe,
strong,
/* series element*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
label,
input,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
/* legacy element */
big,
small,
applet,
object,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
strike,
abbr,
acronym,
tt {
  margin: 0;
  padding: 0;
  /* user-select for mobile */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
html {
  /* controls the text inflation algorithm used on some smartphones and tablets */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  /* When a target is touched and held on iOS, Safari displays a callout information about the link. This property allows disabling that behavior. */
  -webkit-touch-callout: none;
  /* Smooth the font on the level of the pixel, as opposed to the subpixel. Switching from subpixel rendering to antialiasing for light text on dark backgrounds makes it look lighter. Only for ma */
  /* -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; */
}
ul,
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* for some android */
  color: inherit;
}
input,
button {
  color: inherit;
  border: none;
  outline: none;
  background: none;
  /*  doesn't work in IE*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
}
:focus {
  outline: 0;
}
img:not([src]) {
  opacity: 0;
}
